.nav-tabs .nav-link {
    border-radius: 0;
    padding-top: 15px;
}

.nav-tabs .nav-item{

}

#savings-calculator-content .blog-post{
    padding:unset;
}

input[type="range"] {
    display: none;
}

.tab-content {
    min-height: 250px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.tab-pane {
    padding: 40px 30px 30px 30px;
}

.calculator-result {

    background-color: #00a1bc;
    color: #fff;
    margin-bottom: 30px;
    padding: 5px;
}

.calculator-result .container .row {
    min-height: 70px;
}

.result-container {
    font-size: 22px;
    font-weight: 800;
}

.cost-value {
    font-weight: bold;
}

.slider-heading {
    margin-bottom: 10px;
    font-weight: bold;
}

.slider-container {
    margin-bottom: 20px;
}

.rangeslider__fill {
    background: #00a1bc !important;
}

.rangeslider--horizontal {
    height: 15px !important;
}

.rangeslider__handle {
    width: 30px !important;
    height: 30px !important;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -7px !important;
}

.info-popover {
    font-size: 32px;
    color: #00a1bc;
}

#savings-calculator-content .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#savings-calculator-content .popover {
    border-radius: 0 !important;
    z-index: unset;
    margin-top: 23px;
}

#savings-calculator-content .popover-body{
    padding: .2rem .50rem;
}

#savings-calculator-content .arrow{
    top: -6px;
}

#savings-calculator-content .icon-container{
    position: absolute;
    width: 40px;
    margin-top: -7px;
}

#savings-calculator-content .popover-container{
    position: relative;
    margin-left: 40px;
    width: calc(100% - 40px);
}

.popover-header {
    background-color: #00a1bc;
    color: #fff !important;
    border-radius: 0;
}

.flex-fixed-width-item {
    flex: 0 0 32px;
}

.cps-desc{
    margin-top: 10px;
    margin-left: 5px;
}

.input-group-text{
    border-radius: 0;
}

.cps-field{
    text-align: center;
    outline: none !important;
    border-radius: 0;
}

.bpo-button{
    padding: 10px 20px 10px 20px;
    background-color: #ff6903;
    font-size: 18px;
    border: 2px solid #ff6903;
    color: #fff !important;
    font-weight: bold;
    display: inline-block;
}

.bpo-button:hover{
    background-color: #fff;
    color: #ff6903 !important;
}

.bpo-button span{
    font-size: 14px;
}

.blog-masthead{
    padding-bottom: 30px;
}

.logo-block-container{
    margin-top: 30px;
}

.logo-block-two-container{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.logo-block{
    min-height: 470px;
    padding: 10px;
    font-size: 16px;
}

.logo-block.one{
    /*background-color: #d2f3ff;*/
}

.logo-block.one img{
    margin-bottom: 10px;
}

.logo-block.two{
    /*background-color: #9cecff;*/
}

.logo-block.three{
    /*background-color: #00638e;
    color: #fff;*/
}

.logo-block.three img{
    margin-bottom: 10px;
}

@media (max-width: 575.98px) {

    .slider-container{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .logo-block{
        min-height: 200px;
        margin-bottom: 15px;
    }

    .cps-container{
        width: 200px;
        margin: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .logo-block{
        min-height: 200px;
        margin-bottom: 15px;
    }

    .logo-block-two-container{
        border-right: none;
        border-left: none;
    }
}

