/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 100px;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.slide-img-resp {visibility: hidden; display: none; height:0;}

.carousel-item {
   /*background: rgb(0,188,228);
   background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); */
}

.carousel-control-next, .carousel-control-prev {width:auto;}

/* Carousel base class */
.carousel {max-width: 1920px; margin: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: relative;
  padding-top: 150px;	
  width:40%;	
  /*bottom: 3rem;*/	
  z-index: 10;
  /*top: 30%;	  */
  /*right: 50%;
  left: 5%;*/
  /*bottom: auto;*/
  /*background-color: rgba(255,255,255,0.70);*/
  /*padding: 30px 0;  
  text-align: left!important;
  position: absolute;*/
	
  /*-webkit-animation: fadeInLeft 2s forwards;
  -webkit-animation-delay: 0s;
  animation: fadeInLeft 2s forwards;
  animation-delay: 0s;	*/
  left: 5%;
}
.carousel-caption-inner {
  /*-webkit-animation: fadeInLeft 5s forwards;
  -webkit-animation-delay: 0s;
  animation: fadeInLeft 5s forwards;
  animation-delay: 0s;*/
  /*width: 90%;*/
  /*position: absolute;
  right: 0;	*/
  /*padding: 0 0 0 10%;*/
}

.carousel-caption-inside {  
  z-index: 10;
  position: absolute;
  top: 45%;
  left:0;	
  /*width: 50%;	*/
  /*transform: translateX(-45%,-45%);*/
	  
  /*padding: 30px 20px 30px 100px;  */
  padding: 5px 40px;	
  text-align: left!important;
	
  /*-webkit-animation: fadeInLeft 2s forwards;
  -webkit-animation-delay: 0s;
  animation: fadeInLeft 2s forwards;
  animation-delay: 0s;	*/
}

.carousel-caption-inside .carousel-caption-h1 {padding-bottom:0!important; line-height: 130%;}

.carousel-caption-h1 {font-size:47px; color:#fff; font-weight: 600; /*padding-bottom: 40px;*/ text-align: center;}
.carousel-caption-h2 {font-size:24px; color:#fff; font-weight: 500; text-align: center; padding-top: 20px; width: 85%; margin: auto;}
.carousel-caption-inside .carousel-caption-h1 {color:#fff;}

.carousel-caption-cta {padding: 50px 0 20px 0; text-align: center; margin-top: 30px; display: inline-flex;}
.carousel-caption-cta-dbl {/*float:left; width:50%;*/ width:100%; text-align: center; margin-bottom: 60px; }
.carousel-caption-cta-1 {text-transform: uppercase!important; background: #00bce4 ; padding:15px 30px; color:#fff!important; font-size: 30px; font-weight: 600; border: none; /*width: 100%; animation: pulseColor1 4s infinite;*/ border: 1px solid #00bce4}
.carousel-caption-cta-1:hover {background: #fff!important; color:#00bce4!important; border: 1px solid #fff; text-decoration: none!important;}
.carousel-caption-cta-2 {text-transform: uppercase!important; background: #fff; padding:20px 20px; color:#3a3a3a!important; font-size: 23px; font-weight: 600;  border: 1px solid #3a3a3a; /*width: 100%; animation: pulseColor2 4s infinite;*/}
.carousel-caption-cta-2:hover {background: #3a3a3a!important; color:#fff!important;}

.carousel-indicators {bottom: 2px;}
.carousel-indicators li {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 1px solid #fff;
  list-style-type: none;
  background-color: inherit;
}
.carousel-indicators .active {
    background-color: #fff!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon { width: 40px; height: 40px;}

@keyframes pulseColor2 {
  0% {
    color: rgba(58,58,58,0.60);
  }
  100% {
    color: #3a3a3a;
  }  
  	  
}

@keyframes pulseColor1 {
  0% {
    background-color: #00a1bc;
  }  
  100% {
    background-color: rgba(0,161,188,0.60);
  }	  
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 862px;
  background-color: #fff;
}
.carousel-item > img {
  position: absolute;
  /*left: 50%;*/
  bottom: 0;
  right:0;
  top: 130px;
  /*min-width: 100%;
  height: 857px;*/
	
  /*-webkit-animation: zoominout 30s infinite;
  -moz-animation: zoominout 30s infinite;
  -ms-animation: zoominout 30s infinite;
  -o-animation: zoominout 30s infinite;
  animation: zoominout 30s infinite;	*/
}


.inside-page .carousel-item {
  height: 436px;
}
.inside-page .carousel-item > img {top:130px; height: 306px; left:inherit;
  /*-webkit-animation: zoominout 50s infinite;
  -moz-animation: zoominout 50s infinite;
  -ms-animation: zoominout 50s infinite;
  -o-animation: zoominout 50s infinite;
  animation: zoominout 50s infinite;*/
}

.inside-page  .carousel-item {background: none;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 575.98px) {
  body {
    padding-top: 180px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    padding-top: 150px;
  }
}
