/* CSS Document */
/* Header */
.navbar-contacts a {color: #00bce4;}
.btn-booking {background-color: #00bce4!important; border: 1px solid #00bce4 !important;}
.btn-booking:hover {color:#00bce4!important;}
.navbar-contacts .contact-healthcare {color:#00bce4!important; border:1px solid #00bce4!important;}
.navbar-contacts .contact-healthcare:hover {background-color:#00bce4!important; color:#fff!important;}

.navbar-booking .btn-booking {background-color:#0073ae!important; border-color:#0073ae!important;}
.navbar-booking .btn-booking:hover {background-color:#fff!important; color:#0073ae!important;}

.btn-booking-mobile:hover > a, .navbar-booking-mobile:hover > .btn-booking-mobile{ color: #00bce4!important; background-color: #fff!important;}

/* Menu */
.btco-hover-menu .active a, .btco-hover-menu .active a:focus, .btco-hover-menu .active a:hover, .btco-hover-menu li a:hover, .btco-hover-menu li a:focus, .navbar > .show > a, .navbar > .show > a:focus, .navbar > .show > a:hover {color:#00bce4!important;}
.btco-hover-menu .collapse ul > li:hover > a{color:#00bce4!important;}
.btco-hover-menu .collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover{background: #00bce4;}
.btco-hover-menu .collapse ul ul ul > li:hover > a{background: #00bce4;}
.navbar-booking-mobile {background: #00bce4!important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#00bce4!important;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#00bce4!important;}

/* Sliders */
.carousel-caption-h1 {color:#000;}
.carousel-caption-h2 {color:#000;}
.carousel-caption-cta-1 {background-color:#6fe400; border-color:#6fe400!important;}
.carousel-caption-cta-1:hover {background-color:#fff!important; color:#6fe400!important;}

/**************************
HOME PAGE - SERVICES
**************************/
.home-services {text-align: center; margin:auto; padding: 40px 0;
background: rgb(0,188,228); 
background: linear-gradient(90deg, rgba(0,152,209,1.00) 0%, rgba(1,189,228,1.00) 100%, rgba(1,189,228,1.00) 100%);
}
.home-services .container {max-width: 100%!important;}
.home-services-inner {width:70%; text-align: center; margin: auto; padding: 40px 0 60px 0; max-width: 1920px; }

.home-services .col-lg-3 { padding: 0 2%; border-left: 1px solid #fff;}
.home-services .col-lg-3:first-child, .home-services .col-lg-3:nth-child(5) {border-left: none;}

.home-services .btn-cta a {padding:15px 0px; font-size:20px;}
.home-services .btn-cta a:hover {color:#00bce4!important; text-decoration: none!important; background-color:#fff!important;}
.home-services .btn-cta-mobile {margin: 0px 0 50px 0;}

.home-intro-booking .btn-booking {background: #6fe400 !important; border-color:#6fe400!important;}
.home-intro-booking .btn-booking:hover {color: #6fe400 !important; border-color:#6fe400!important;}

/**************************
HOME PAGE - MAP
**************************/
.home-map {background-color:#aadaff;}
.home-map .container {max-width: 100%!important; padding-right: 0!important; padding-left: 0!important;}
.home-map-txt {width:60%;
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.home-map h2 {color:#fff; font-size:40px;}
.home-map p {color: #474747; font-size:24px; font-weight: 600; line-height: 150%; padding-bottom: 20px;}
.home-map a {  
	display: inline-block;	
    padding: 10px 30px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    width: auto;
    font-size: 20px;
    letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;	
}
.home-map a:hover {color:#aadaff!important; background-color: #fff!important;} 
.home-map img {width:100%;}

/**************************
HOME PAGE - DOCTORS
**************************/
.index-doctors {
	background: rgb(0,188,228);
    background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);
}
.index-doctors .container {max-width: 100%!important; padding-right: 0!important; padding-left: 0!important;}
.index-doctors-txt {width:60%; margin:auto;
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	z-index: 2;
}
.index-doctors h2 {color:#fff; font-size:40px; }
.index-doctors p {color: #474747; font-size:24px; font-weight: 600; line-height: 150%; padding-bottom: 20px;}
.index-doctors a {  
	display: inline-block;
	margin-top: 20px;
    padding: 10px 30px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    width: auto;
    font-size: 20px;
    letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;	
}
.index-doctors a:hover {text-decoration: none; background-color: #fff; color:#00bce4!important; }  
.index-doctors img {width:100%;}

.div-doctors {  
    background: rgb(0,188,228);   
    min-height: 100px;
    width: calc(50% - 25px);
    position: relative;     
}

.div-doctors:after {
    position: absolute; top: 0px;
    content:'';    
    z-index: -1;
    height: 100%;
    width: 30%;
    background: rgb(0,188,228);
    background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);
	z-index: 1;
}
.div-left {
    float: left;
}
.div-right {
    float: right;
}
.div-left:after {
  right: 0;
    transform-origin: bottom right;
    transform: skewX(-20deg);
}

.div-right:after {    
    left: 0;
    transform-origin: top left;
    transform: skewX(-20deg);
}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 991px) {
	.home-map-txt {width:100%; text-align: center; padding: 20px 20px 40px 20px;}
	.index-doctors-txt {width:100%; text-align: center; padding: 20px 20px 40px 20px;}
	.index-doctors p {padding-bottom:0;}
	
	.div-doctors {width:100%;}
	.div-doctors:after {display:none; visibility: hidden; height: 0;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1550px) {
	.home-map-txt {width:100%; padding-right: 10px;}
	.home-map-txt p {font-size: 20px;}
	.home-map p {padding-bottom: 0px;}
}

