#scheduling-page .modal-body{
    padding: 0;
}

.booking-header-part{
    padding-left: 20px;
    padding-right: 20px;
}

.scheduling-page-footer{
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0073ae;
}

.scheduling-page-footer fieldset{
    max-width: unset !important;
}

.bookingFooterAwardsWrapper{
    margin-bottom: 20px;
}

.hs-main-font-element h1{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

.hs-main-font-element p{
    color: #fff;
}

.scheduling-page-footer {
    /*height: 35px;*/
}

.scheduling-page-footer input[type="tel"], .scheduling-page-footer select{
    width: 100% !important;
    padding: 7px;
    border: none;
}

.scheduling-page-footer input[type="text"], .scheduling-page-footer input[type="email"]{
    padding: 7px;
    border: none;
}

.scheduling-page-footer textarea{
    width: 100% !important;
    padding: 10px;
    border: none;
}

.scheduling-page-footer input[type="submit"]{
    font-size:20px;
    margin-top: 10px;
}

.scheduling-page-footer span{
    color: #fff !important;
}

.scheduling-page-footer .hs-error-msgs{
    list-style-type:none;
    padding: 0px 0px !important;
}

.scheduling-page-footer .hs-error-msgs label{
    color: #8B1A1A !important;
}

