/* CSS Document */
@font-face {
    font-family: GoodVibes;
    src: url("../../fonts/GoodVibes.ttf");
}

@font-face {
    font-family: Hysteria;
    src: url("../../fonts/Hysteria.ttf");
}

main {position:absolute; top:0;}
body {margin-bottom: 0;}

.homeVideoLasik {top:0; margin-bottom: 0;}
.video-container-lasik {padding-top:0; overflow: inherit;}

.homeVideoLasik .landing-logo { text-align: center; margin: auto;}
.homeVideoLasik .landing-logo img { max-width: 180px;}
.homeVideoLasik-caption { padding: 0px 60px 20px 60px; color: #00a1bc;}
.homeVideoLasik-caption-sml {color: #5a5a5a;}

#hubspot-messages-iframe-container {display:none; visibility: hidden; height:0;}

.chevron-down {
    position:relative;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
    text-align: center;
    animation: bouncing 4s infinite ease-in-out;
}s
 .chevron-down i {
     color: #fff;
     padding: 15px 15px 12px 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: #00a1bc;}

@keyframes bouncing {
    0% {top:97vh;}
    50% {top:95vh;}
    100% {top:97vh;}
}


.parramatta-header{
    margin-top: 15px;
}

.deliveroo-header{
    text-align: left;
}

.deliveroo-header img{
    width: 450px;
}

.carousel-deliveroo{
    z-index: 999;
}

.carousel-slim{
    display: none;
}

.carousel-item.carousel-slim{
    height: 220px !important;
}

.carousel-slim .deliveroo-header img{
    width: 200px;
}

.carousel-slim .carousel-caption-cta-del{
    font-size: 16px !important;
}

.carousel-slim .carousel-caption-cta-del span{
    font-size: 10px !important;
}


.carousel-slim .deliveroo-logo-slim{
    width: 150px !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-slim .carousel-caption-inner{
    text-align: left;
}

.carousel-slim .carousel-caption-cta{
    margin-top: 15px;
}

#carousel-mobile{
    display: none !important;
}

#carousel-desktop{
    box-shadow: -5px 15px 10px -16px #111
}

.headline-cont{
    position: relative;
    float: left;
    width: 350px;
}

.carousel-slim .button-cont{
    position: relative;
    float: left;
    width: 350px;
    margin-left: 30px;
}

.carousel-slim .carousel-caption, .carousel-caption-inner .carousel-slim{
    width: 100% !important;
}

.parramatta-slim-headline{
    width: 650px;
    margin-top: 20px;
}

.par-headline-cont{
    position: relative;
    float: left;
    width: 230px;
}

.par-button-cont{
    position: relative;
    float: left;
    width: 350px;
    margin-left: 30px;
    margin-top: 32px !important;
}

.scheduling-page-logo{
    width: unset !important;
}

/**************************
THE ULTIMATE GUIDE TO LASIK
**************************/
.lasik-guide-carousel {top: -180px; margin-bottom: -180px;}
.lasik-guide-progressbar {top:0!important; padding-top:0!important;}

.lasik-guide-menu {top: 81px!important;}
.lasik-guide-menu ul li  {padding: 10px 15px;}
.lasik-guide-carousel .carousel-item > img {height: 751px;}
.landing-lasik-logo {position: fixed; top: 0; z-index: 2; background-color:rgba(255,255,255,0.70); padding: 20px; width: 300px;}
.landing-lasik-logo img {width:100%; padding: 7px 30px 7px 30px;}
.affix {padding-bottom: 0!important;}

/**************************
PANEL - DOCTORS
**************************/
.index-doctors {
    background: rgb(0,188,228);
    /*background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);*/
}
.index-doctors .container {max-width: 100%!i mportant; padding-right: 0!important; padding-left: 0!important;}
.index-doctors-txt {width:80%; margin:auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.index-doctors h2 {color:#fff; font-size:25px; font-weight: 600; padding-bottom: 7px;}
.index-doctors p {color: #fff; font-size:20px; font-weight: 500; line-height: 150%; padding-bottom: 20px;}
.index-doctors a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    width: auto;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.index-doctors a:hover {text-decoration: none; background-color: #fff; color:#00bce4!important; }
.index-doctors img {width:100%;}

.div-doctors {
    background: rgb(0,188,228);
    min-height: 100px;
    width: calc(50% - 25px);
    position: relative;
}

.div-doctors:after {
    position: absolute; top: 0px;
    content:'';
    z-index: -1;
    height: 100%;
    width: 25%;
    background: rgb(0,188,228);
    /*background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 60%, rgba(139,231,252,1) 100%);*/
    z-index: 1;
}
.div-left {
    float: left;
}
.div-right {
    float: right;
}
.div-left:after {
    right: 0;
    transform-origin: bottom right;
    transform: skewX(-20deg);
}

.div-right:after {
    left: 0;
    transform-origin: top left;
    transform: skewX(-20deg);
}

/**************************
PANEL MAP
**************************/
.panelMap {width:60%; margin: auto; padding:60px 0;}

.panelMap-txt {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.panelMap-img {text-align: center;}

.panelMap h2 { font-size: 40px; font-weight: 600; color: #231f20; padding: 40px 0 0 0; margin:0;}
.panelMap h2::before { content: ""; position: absolute; width: 25%; height: 5px; top: 0px; left: 0; border-bottom: 5px solid #000;}

.panelMap .stars {font-size: 20px; font-weight: 600; color: #231f20;padding: 0 0 20px 0;}

.panelMap ul li {list-style-type: none; padding-bottom: 10px;}

.panelMap ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 15px;
    color: #000;
    font-size: 20px;
    margin-top: -4px;
    display: inline-block;
    font-weight: 900;
    /*margin-left: 15px;*/
}

/**************************
PANEL TESTIMONIALS
**************************/
.panelTestimonials {width:70%; margin: auto; padding:60px 0;}

.panelTestimonials-box {text-align: center; background: #f5f5f5; padding: 25px; color:#444444; height:100%;}
.panelTestimonials-txt {text-align: center; font-style: italic;}
.panelTestimonials-name {text-align: center; padding: 30px 0 5px 0; }
.panelTestimonials .stars {text-align: center; font-size: 16px; font-weight: 600; color: #f1a604; padding: 0;}

/**************************
PANEL AWARDS
**************************/
.footerAwardsWrapper {background-color: #dddddd; padding: 60px 0;}

/**************************
PANEL GUARANTEE
**************************/
.home-guarantee {padding: 60px 0;
    background: rgb(0,188,228);
    background: linear-gradient(90deg,
    rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);
}

.home-guarantee h2 {color:#fff;font-weight: 600; font-size: 35px; width: 50%; margin: auto; padding-bottom: 40px;}

/**************************
SPRING CAMPAIGN
**************************/
#div-spring-campaign {text-align: left;}
#div-spring-campaign .img-dr {width:100%;}
#div-spring-campaign .img-dr img {max-height: 470px}
#div-spring-campaign h2 {color: #00bce4; font-size: 26px; font-weight: 600; margin-bottom: 1rem; }
#div-spring-campaign p {font-size: 20px; color:#000; font-weight: 500;}
#div-spring-campaign .btn-booking {background:#6fe400!important; border:1px solid #6fe400!important; width:auto!important; padding: 15px 30px!important; font-size:26px;}
#div-spring-campaign .btn-booking:hover {color:#6fe400!important; background: #fff!important;}

.btn-booking-del{color:#fff; font-weight: 600; background:#6fe400!important; border:1px solid #6fe400!important; width:auto!important; padding: 15px 30px!important; font-size:26px;}
.btn-booking-del span{font-size: 16px;display: block; text-transform:unset !important;}
.btn-booking-del:hover {color:#6fe400!important; background: #fff!important;}

.spring-campaign-book {margin: auto; text-align: center; padding:20px 0;}
.spring-campaign-book button {width:auto; background:#6fe400!important; border:1px solid #6fe400!important; font-size:26px; padding: 15px 30px!important; }
.spring-campaign-book button:hover {color:#6fe400!important;  background:#fff!important;}
.spring-campaign-book button:hover > img {content: url('../../images/site/icon-cursor-green.gif');}
.spring-campaign-book img {height: 100%;}

.spring-campaign-header {padding:20px 0; text-align: center;}
.spring-campaign-header img {max-height:40px;}
.spring-campaign-header-h1 {color: #00a1bc; font-weight: 600; font-size:16px; padding-top: 20px;}

.carousel-spring .carousel-item {height:436px;}
.carousel-spring .carousel-caption {padding-top:0!important; top:0!important; left:10%; width:40%;}
.carousel-spring .carousel-item > img {top:0!important;}
.carousel-spring .carousel-caption-logo { text-align: left; padding:30px 0;}
.carousel-spring .carousel-caption-logo img {width: 250px; height: auto;}
.carousel-spring .carousel-caption-h1 {color:#00bce4; text-align: left;}
.carousel-spring .carousel-caption-h2 {color:#000; text-align: left; width:100%;}

.carousel-spring .carousel-caption-cta {display:block; text-align: left; padding:0;}
.carousel-spring .carousel-caption-cta-dbl {text-align: left; margin-bottom: 0;}
.carousel-spring .carousel-caption-cta-1 {background:#6fe400; border:1px solid #6fe400; font-size:26px; padding:15px;}
.carousel-spring .carousel-caption-cta-1:hover {color:#6fe400!important;}

.carousel-spring .carousel-caption-cta-del {color:#fff; background:#6fe400; border:1px solid #6fe400; font-size:26px; font-weight: 600; padding:15px;}
.carousel-spring .carousel-caption-cta-del span{font-size: 16px;display: block; text-transform:unset !important;}
.carousel-spring .carousel-caption-cta-del:hover {color:#6fe400!important; background-color: #fff; }


.carousel-deliveroo .carousel-item{
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.spring-campaign-terms {text-align: left; padding-top: 15px;}
.spring-campaign-terms a {color:#000; text-decoration: underline!important;}
.home-guarantee h2 {width: 80%;}

.spring-campaign-map .panelMap h2::before { border-bottom: 5px solid #07bce4;}
.spring-campaign-map .panelMap h2 { color: #07bce4;}
.spring-campaign-map .panelMap ul li {font-size:18px;}
.spring-campaign-map .panelMap ul li::before { color: #07bce4;}

.spring-campaign-testimonials .panelTestimonials-txt {font-size:18px; font-style: normal;}
.spring-campaign-testimonials .panelTestimonials-name {font-size:14px;}
.spring-campaign-testimonials .panelTestimonials-box::after {content: url('../../images/site/testimonial.gif'); position: absolute; left: 15px; bottom: -50px;}

.spring-campaign-book-block {text-align: center; width:70%; background:#6fe400; margin:40px auto; padding: 30px 0; }
.spring-campaign-book-txt {color:#fff; font-size: 35px; font-weight: 600; padding-bottom: 10px;}
.spring-campaign-book-block .spring-campaign-book button {border-color:#fff!important;}

.index-doctor-spring h2 {font-size:35px;}

.btn-video {position: absolute; bottom: 0; right: 0;}
.btn-video img {max-height: 150px!important;}
.btn-video img:hover {
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}

.deliveroo-logo{
    text-align: left;
    margin-top: 30px;
}

.deliveroo-logo img{
    height: 90px;
}

.slide-img-resp{
    margin-top: 160px !important;
}

/**************************
PANEL LASIK STEPS
**************************/
.lasikStepsWrapper {background-color: #c2e9ef; padding: 60px 0; text-align: center;}
.lasikStepsWrapper h2 {color: #00bce4; font-size: 30px; font-weight: 600; padding-bottom: 1rem;}
.lasikStepsWrapper p {color:#000; font-weight:500; font-size:20px; margin-bottom: 0;}
.lasikStepsWrapper .blue-box-vision::after {display: none!important;}
.lasikStepsWrapper .blue-box-vision {margin:0;}
.lasikStepsWrapper .blue-box {padding:0; background-color: #fff; height:100%;}
.lasikStepsWrapper .path-vision-num {font-size:100px;}
.lasikStepsWrapper .path-vision {display:block;}
.lasikStepsWrapper .path-vision .about-col2, .lasikStepsWrapper .path-vision .about-alt-col2 {width:90%;}
.lasikStepsWrapper .path-vision-img {width: 60%; margin:auto; position: relative; top: -110px; margin-bottom: -110px;}
.lasikStepsWrapper .path-vision-img img {width:100%;}
.lasikStepsWrapper .path-vision-txt {width:100%; padding: 20px 5% 0 5%; text-align: left;}
.lasikStepsWrapper .p-custom {padding: 60px 15px!important; margin-top: 60px;}

/**************************
LANDING - CATARACTS BOOKING
**************************/
.landing-cataracts-logo {padding:20px 0; margin:auto; text-align: center;}
.landing-cataracts-logo img {max-width:200px;}
.carousel-cataracts .carousel-item {height:305px;}
.carousel-cataracts .carousel-item > img {top:0;}
.cataracts-page p, .cataracts-page ul li {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}
.cataracts-sml {text-align: center; font-size:17px!important;}
.modal-open {overflow: auto;}

/**************************
LANDING - CATARACTS BOOKING
**************************/

.lasik-tab-cont{
    margin-bottom: 30px;
}

.booking-button-cont{
    margin-bottom: 30px;
}

/**************************
FOOTER - SUMMER CAMPAIGN
**************************/
.footer-summer {position:fixed; bottom:0; z-index: 100; background: #00b4ff; width:100%; color:#fff;padding:20px 0;
    -webkit-box-shadow: 0px 3px 15px 6px #999;
    box-shadow: 0px 3px 15px 6px #999;
}
.footer-summer-h1 {font-size:22px; font-weight: 600;}
.footer-summer-h2 {font-size:16px;}
.footer-summer-h3 {font-size:12px; padding-top:4px;}
.footer-summer-logo img {width:100%;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 480px) {
    #div-suitability-quiz {position: relative; top: 100px; margin-bottom: 100px;}

    .panelMap {padding: 20px 0 0 0; width:85%!important;}
    .panelMap h2 {font-size:24px;}
    .panelMap-txt {text-align: center!important;}
    .panelMap ul {text-align: left!important;}
    .panelMap ul li::before {position: absolute!important; left: 15px!important;}

    .panelTestimonials {width:85%;}

    .cataracts-book button {font-size:15px!important;}

    .spring-campaign-book button {font-size:18px;}
    .home-guarantee h2 {width:100%!important; margin: 0 1%!important;}
    .path-vision { padding: 5%;}

    .carousel-spring .carousel-caption-logo img {width: 150px!important;}
    .carousel-spring .carousel-caption-cta {padding:-0!important;}
    .carousel-spring .carousel-caption-cta-dbl {margin-bottom:0!important;}
    .spring-campaign-terms {padding-top:0!important;}
    .spring-campaign-terms a {font-size:12px;}
    .btn-video {right:0!important;}
    #div-spring-campaign h2,
    .lasikStepsWrapper h2,
    .index-doctors h2,
    .spring-campaign-book-txt,
    .spring-campaign-map .panelMap h2
    {font-size:22px!important;}
    #div-spring-campaign p,
    .lasikStepsWrapper p,
    .spring-campaign-testimonials .panelTestimonials-txt,
    .spring-campaign-map .panelMap ul li,
    .index-doctors p
    {font-size:14px!important;}

    .footer-summer {text-align: center; padding:5px 0!important;}
    .footer-summer-logo {padding-top:5px!important;}
    .footer-summer .col-lg-8 {padding-left:5px!important; padding-right: 5px!important;}
    .footer-summer-h1 {font-size:14px!important;}
    .footer-summer-h2 {font-size:12px!important;}
    .footer-summer-h3 {font-size:10px!important;}

    .deliveroo-header img{width: 90%}
}

@media only screen and  (max-width: 991px) {
    .home-map-txt {width:100%; text-align: center; padding: 20px 20px 40px 20px;}
    .index-doctors-txt {width:100%; text-align: center; padding: 20px 20px 10px 20px;}
    .index-doctors p {padding-bottom:0;}

    .div-doctors {width:100%;}
    .div-doctors:after {display:none; visibility: hidden; height: 0;}

    .panelMap-txt {text-align: center;}
    .panelMap h2::before {width: 33.3%; left: 33.3%;}
    .panelMap ul li::before {position: relative; left: -10px;}
    .panelMap-img img {padding-top: 20px; max-width: 100%;}

    .panelTestimonials-box {margin:20px 0;}

    .home-guarantee h2 {width:90%;}

    .panelMap {width:70%; padding:20px 0;}

    .index-doctors h2 {font-size:20px!important;}
    .index-doctors p {font-size:17px;}

    .spring-campaign-header { padding: 1% 5%;}
    .carousel-spring .carousel-caption {padding-top:0!important;}
    .carousel-spring .carousel-caption-inner {padding:2%;}
    .carousel-spring .carousel-caption-h1 {font-size:30px;}
    .carousel-spring .carousel-caption-h2 {font-size:18px;}
    .carousel-spring .carousel-caption-cta-1 {font-size:24px;}
    .spring-campaign-header-h1 {padding-top:10px;}
    .lasikStepsWrapper {padding: 15px;}
    .path-vision .about-col1 img, .path-vision .about-col2 img, .path-vision .about-alt-col1 img, .path-vision .about-alt-col2 img {width:50%!important;}
    .lasikStepsWrapper .path-vision-num {font-size: 70px;}
    .lasikStepsWrapper .path-vision .about-col2, .lasikStepsWrapper .path-vision .about-alt-col2 {width:100%;}
    .lasikStepsWrapper .path-vision p {text-align: center;}
    .footerAwardsWrapper img { width: 18%;}
    .home-guarantee-icons img { padding: 0 10px;}

    .carousel-spring .carousel-caption-logo {padding:5px 0 0 0;}
    .carousel-spring .carousel-caption-logo img { width: 200px;}
    .carousel-spring .carousel-caption {width:100%!important; left:0!important;}
    .carousel-spring .carousel-caption-logo {text-align: center;}
    .carousel-spring .carousel-caption-h1 {text-align: center; padding-top:15px; font-size:30px;}
    .carousel-spring .carousel-caption-h2 {text-align: center;}
    .carousel-spring .carousel-caption-cta-dbl {text-align: center; padding-top:5px;}
    .carousel-spring .carousel-caption-cta-1 { padding: 8px 5px!important;}
    .spring-campaign-terms {text-align: center; padding-top: 8px;}
    #div-spring-campaign .img-dr {right: 40px; text-align: center; position: relative;}
    .btn-video {right: 60px;}
    .btn-video img {max-height: 150px!important;}
    #div-spring-campaign .img-dr img {max-height: 300px;}
    #div-spring-campaign .btn-booking {padding:15px 10px!important; font-size: 24px; width:100%!important;}
    .index-doctors h2 {font-size: 28px!important;}

    .cataracts-book button {padding: 15px 2px!important;}

    .spring-campaign-book-block {width:100%; margin:0;}
    .spring-campaign-book {padding:0;}
    .spring-campaign-book button {padding: 15px 10px!important;}
    .spring-campaign-book-txt {font-size: 32px;}

    .footer-summer {text-align: center; padding:10px 0;}
    .footer-summer-logo {padding-top:20px;}
    .footer-summer-h1 {font-size:18px;}
    .footer-summer-logo {padding-top:10px;}
    .footer-summer-logo img {width:30%;}

    .deliveroo-header{font-size: 50px; text-align: center;}

    .carousel-caption-inner{margin-top: 200px;}
    .deliveroo-logo{ text-align: center;}
    .carousel-spring .carousel-caption-cta-del{ font-size: 18px;}
    .carousel-spring .carousel-caption-cta-del span{ font-size: 10px;}

    #carousel-desktop{display: none !important;}
    #carousel-desktop-sticky-wrapper{display: none !important; }
    #carousel-mobile{display: block !important;}
}

/* Extra Break Points */
@media screen and (max-width: 480px) {
    .lasik-guide-progressbar {visibility:hidden; display: none; height:0;}
    .landing-lasik-logo {background-color: initial!important; width: 150px; padding: 10px;}
    .landing-lasik-logo img {padding:0;}
}

@media only screen and  (max-width: 991px) {
    .landing-lasik-logo {position:absolute;}
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
    /* For ipad landscape layouts only */
    .lasik-guide-carousel .carousel-item > img {height:auto!important;}
    .lasik-guide-carousel .carousel-caption-inner {padding-top: 60px!important; width: 70%!important;}
    .lasik-guide-carousel .carousel-caption-h1, .lasik-guide-carousel .carousel-caption-txt, .lasik-guide-carousel .carousel-caption-txt {width: 85%!important;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1550px) {
    .home-map-txt {width:100%; padding-right: 10px;}
    .home-map-txt p {font-size: 20px;}
    .home-map p {padding-bottom: 0px;}

    .chevron-down {display:none; visibility: hidden; height:0;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1500px) {
    .landing-lasik-logo {width: 200px;}
    .landing-lasik-logo img {padding: 7px 10px 7px 10px;}
    .lasik-guide-menu {top: 73px !important;}
    .lasik-guide-carousel .carousel-caption-inner {width:60%;}

    .carousel-item > img{
        height: unset !important;
    }
}

@media only screen and (min-device-width: 769px) and (max-width : 1400px) {
    .lasik-guide-carousel .carousel-item > img {width:auto!important;}
    .index-doctors h2 {font-size:20px!important;}
    .index-doctors p {font-size:17px!important;}
    .carousel-spring .carousel-caption {left:3%; width:55%;}
    .carousel-normal .slide-img{right:-270px !important;}
    .parramatta-header{ font-size: 48px;}
}
@media only screen and (max-width: 1550px) and (min-device-width: 769px) {
    .carousel-caption-h1 {font-size: 30px;}
}
