.lasik-tab-cont{
	margin-top: 50px;
}

.lasik-tab-cont.container {
	max-width: 1270px;
}

.lasik-tab-cont .tab-content h2{
	color: #00bce4;
	font-size: 18px;
	font-weight: bold;
}

.sub-header{
	color: #00bce4;
	font-size: 16px;
	font-weight: bold;
}

.lasik-tab-cont .tab-content p{
	font-size: 16px;
	font-weight: bold;
}

.lasik-tab-cont .tab-content .faq-cont h2{
	font-size: 20px;
}

.lasik-tab-cont .tab-content .read-more{
	font-size: 16px;
	font-weight: bold;
	color: #0e63af;
}

.lasik-tab-cont .tab-content .read-more:hover{
	color: #00bce4;
}

.lasik-tab-cont .nav-link.active{
	color: #00bce4;
	background-color: #fff;
}

.lasik-tab-cont .nav-link{
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
	color:#bcbcbc;
	background-color: #f4f4f5;
	border: 1px solid #bcbcbc;
	border-top-left-radius: .50rem;
	border-top-right-radius: .50rem;
}

.lasik-tab-cont .tab-content{
	border: 1px solid #dee2e6;
	border-top: none;
	border-bottom-left-radius: .50rem;
	border-bottom-right-radius: .50rem;
	/*height: 640px;*/
	padding-top: 50px;
}

.lasik-tab-cont .tab-type-box{
	margin-bottom: 40px;
}

.lasik-tab-cont .faq-item{
	margin-bottom: 20px;
}

.booking-button {padding:20px 0; }
.booking-button a {width:auto; background: #01bce4 !important; color:#fff!important; font-size: 20px!important; font-weight: 600!important; padding: 5px 20px; display: inline-block; text-align: center; border: 1px solid #01bce4 !important;}
.booking-button a:hover {color:#01bce4!important; background: #fff!important; border: 1px solid #01bce4 !important;}

.scrollable{
	/*height: 500px;*/
	overflow-y: auto;
}

.costs-cont .scrollable{
	/*height: 560px;*/
}

.suitability-cont li {
	font-size: 18px;
	list-style-type:none;
}

.suitability-cont li span{
	font-size: 16px;
	font-weight: bold;
	top: -5px;
	position: relative;
}

.suitability-cont ul li::before {
	content: "\2022";
	color: #01bce4;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	width: 1em;
}

.costs-cont{
	font-weight: bold;
}

.costs-cont .table-heading{
	margin-top: 40px;
}

.costs-cont .table-row .col-12, .costs-cont .table-row .col-3, .costs-cont .table-row .col-4, .costs-cont .table-row .col-5,  .costs-cont .table-row .col-lg-3{
	border-bottom:1px solid #bcbcbc;
	margin-bottom:25px;
	padding-bottom: 25px;
}

.costs-cont .dark-blue{
	color: #0e63bc;
}

.costs-cont .fa-ul{
	margin-left: 1.5em !important;
}

.costs-cont .fa-li{
	color: #01bce4;
}

.costs-cont .mobile-heading{
	display: none;
	color: #01bce4;
}

.costs-cont .info-box{
	color: #fff;
	background-color: #93d9f8;
	padding: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}

.costs-cont .disclaimer{
	color: #bcbcbc;
	font-size: 12px;
	margin-bottom: 30px;
}

.button-cont{
	text-align: center;
	margin-bottom: 30px;
}

.cost-button{
	width: 100%;
	background-color: #01bce4;
	color: #fff;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.cost-button span{
	font-size: 12px;
	display: block;
}

.cost-button:hover{
	color: #01bce4;
	border-color: #01bce4;
	background-color: #fff;
}

.costs-cont .calculator{
	width: 387px;
	background-image: url('../../images/site/calculator.jpg');
	position: absolute;
	right: -60px;
}

.costs-cont .scrollable{
	position: relative;
	overflow-x: hidden;
}

@media (max-width: 575.98px) {

	.lasik-tab-cont .container{
		max-width: unset !important;
		margin-bottom:30px;
	}

	.costs-cont .sub-header{
		border-bottom:1px solid #bcbcbc !important;
		padding-bottom: 10px !important;
		padding-top: 20px !important;
	}

	.costs-cont .table-heading{
		display: none;
	}

	.costs-cont .last-row{
		border-bottom:1px solid #bcbcbc !important;
		padding-bottom: 10px !important;
	}

	.costs-cont .table-row .col-12{
		border: none;
		margin-bottom: 0px;
	}

	.costs-cont .mobile-heading{
		display: table;
		margin-bottom : 10px;
		padding-bottom: 0px;
	}

	.costs-cont .desc{
		text-transform: uppercase;
		margin-top: 30px;
		color: #000;
	}

	.info-box{
		margin-top:30px;
	}

	.costs-cont .disclaimer{
		margin-top:30px;
	}

	.mobile-heading.last-table{
		margin-top: 20px;
	}

	.cost-button{
		margin-bottom: 15px;
	}

	.costs-cont .calculator{
		display: none;
	}

	.booking-button{
		padding-left: 20px;
		padding-right: 20px;
	}

	.button-cont{
		margin-bottom: 0px;
	}
}


@media (min-width: 576px) and (max-width: 767.98px) {


	.lasik-tab-cont .container{
		max-width: unset !important;
		margin-bottom:30px;
	}

	.costs-cont .sub-header{
		border-bottom:1px solid #bcbcbc !important;
		padding-bottom: 10px !important;
		padding-top: 20px !important;
	}

	.costs-cont .table-heading{
		display: none;
	}

	.costs-cont .last-row{
		border-bottom:1px solid #bcbcbc !important;
		padding-bottom: 10px !important;
	}

	.costs-cont .table-row .col-12{
		border: none;
		margin-bottom: 0px;
	}

	.costs-cont .mobile-heading{
		display: table;
		margin-bottom : 10px;
		padding-bottom: 0px;
	}

	.costs-cont .desc{
		text-transform: uppercase;
		margin-top: 30px;
		color: #000;
	}

	.info-box{
		margin-top:30px;
	}

	.costs-cont .disclaimer{
		margin-top:30px;
	}

	.mobile-heading.last-table{
		margin-top: 20px;
	}

	.cost-button{
		width: 300px;
		margin-bottom: 15px;
	}

	.costs-cont .calculator{
		display: none;
	}

	.booking-button{
		padding-left: 20px;
		padding-right: 20px;
	}

	.button-cont{
		margin-bottom: 0px;
	}

}


@media (min-width: 768px) and (max-width: 991.98px) {
	.cost-button{
		height: 108px;
	}

	.costs-cont .calculator{
		display: none;
	}
}


@media (min-width: 992px) and (max-width: 1199.98px) {
	.costs-cont .calculator{
		width: 290px;
	}
}


@media (min-width: 1200px) {

}