body {
    padding-top: 216px;
}

.location-page .carousel-item {
    height: 380px !important;
    background-color: #00bbe5;
}

.location-page .carousel-item > img {
    left: unset !important;
    bottom: unset !important;
    right: unset !important;
    top: unset !important;
}

.location-page .carousel-caption-inside{
    top: 40px !important;
}

.carousel-location-name-cont{
    position: absolute;
    right: 100px;
    bottom: 50px;
}

.location-name-header{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.carousel-location-name{
    width: 200px;
    background-color: #f26a23;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;

}

/* RESPONSIVE CSS
-------------------------------------------------- */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        padding-top: 175px;
    }

    .location-page .carousel-item{
        background-position: -900px;
    }

    .carousel{
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .location-page .carousel-item{
        background-position: -700px;
    }
    .carousel-caption-h1{
        font-size: 47px;
        padding-top: 0;
    }

    .carousel{
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .location-page .carousel-item{
        background-position: -500px;
    }
    .carousel-caption-h1{
        font-size: 47px;
        padding-top: 0;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .location-page .carousel-item{
        background-position: -250px;
    }

    .carousel-caption-h1{
        font-size: 47px;
        padding-top: 0;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .carousel-caption-h1{
        font-size: 47px;
        padding-top: 0;
    }
}