.location-cont{
    padding-top: 40px;
    padding-bottom: 40px;
}

.location-cont h1{
    font-size: 28px;
    color: #00bbe5;
    font-weight: 600;
}

.location-description{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 500;
}

.cb-services-cont{
    position: relative;
    margin-bottom: 10px;
    display: flow-root;
}

.cb-service{
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 49%;
    color: #5b5b5b;
}

.cb-service i{
    color: #f26a23;
}

.location-thumbnail{
    width: 289px;
    height: 289px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.contact-row{
    margin-top: 30px;
    font-weight: 500;
    line-height: 30px;
}

.cont-col{
    position: relative;
    float: left;
    width: 330px;
    height: 170px;
    font-size: 15px;
}

.cont-col .inner-cont{
    width: 80%;
}

.contact.cont-col{
    border-right: 1px solid #AFAFAF;
}

.address.cont-col{
    border-right: 1px solid #AFAFAF;
    margin-left:50px;
}

.opening-hours.cont-col{
    margin-left:50px;
}

.cont-col .head{
    margin-bottom: 10px;
    color: #0073ae;
    font-weight: 600;
    font-size: 17px;
}

.contact-item span, .cont-col strong{
    color: #0073ae;
    font-weight: 600;
}

.contact-item a{
    color: #5a5a5a;
}

.location-cont .btn-cont{
    position: absolute;
    bottom: 0;
    margin-top:15px;
}

.location-contact-btn{
    background-color: #00bbe5;
    color: #fff;
    padding: 5px 20px 5px 20px;
    border:1px solid #00bbe5;
}

.location-contact-btn:hover{
    background-color: #fff;
    color: #00bbe5;
    border-color: #00bbe5;
}

.map-container{
    padding-left: 0px;
    padding-right: 0px;
    height: 600px;
}

.suburbs{
    background-color: #007cb7;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.suburbs h2{
    font-size: 24px;
    color: #fff;
    font-weight:700;
}

.suburbs p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
}

.our-services{
    background-color: #dbf1f7;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.our-services .container{
    padding-left: 0px;
    padding-right: 0px;
}

.our-specialists{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.owl-dots{
    display: none;
}

.slides-cont{
    width: 1050px;
}

.arrow-cont{
    display: table;
    position: relative;
    float: left;
    width: 25px;
    font-size: 40px;
    z-index: 999;
    color: #848383;
}

.arrow{
    font-size: 40px;
    z-index: 999;
    color: #00bbe5;
    display: table-cell;
    vertical-align: middle;
}

.slide-cont{
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    height: 380px;
}

.slide-icon{
    text-align: center;
    margin-bottom: 15px;
}

.slide-icon img{
    width: 90px !important;
    margin: auto;
}

.slide-title{
    color: #007cb7;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.slide-desc{
    font-weight: 600;
    text-align: center;
}

.slide-role{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.slide-more-button{
    position: absolute;
    text-align: center;
    margin-left: -30px;
    width: 100%;
    bottom: 0;
    padding-bottom: 5px;
}

.slide-more-button a{
    width: 100%;
    background-color: #00bbe5;
    color: #fff;
    padding: 5px 30px 5px 30px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border:1px solid #00bbe5;
}

.slide-more-button a:hover{
    background-color: #fff;
    color: #00bbe5;
}

.service-header-cont{
    text-align: center;
    margin-bottom: 30px;
}

.service-header-cont h2{
    color: #00bbe5;
    font-size: 24px;
    font-weight: 700;
}

.service-header-cont p{
    font-weight: 600;
}

.our-specialists .arrow{
    color: #c6c6c5;
}

.specialist-photo img{
    width:275px !important;
    margin: auto;
}

.our-specialists .slide-title{
    margin-top: 15px;
}

.pe-difference{
    height: 485px;
    background-image: url('../../images/site/the-pe-difference.png');
    background-repeat: no-repeat;
    background-position:bottom right;
    background-color: #00bbe5;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.diff-text-cont{
    display: table;
    height: 485px;
}

.diff-text{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.pe-difference h2{
    color: #fff;
    font-size: 28px !important;
    font-weight: 700;
    margin-bottom: 15px;
}

.pe-difference .fa-ul{
    margin-left: 1.5rem !important;
}

.pe-difference .fa-ul li{
    margin-bottom: 15px;
}

.difference-book-btn-cont{
    margin-top: 30px;
}

.difference-book-btn{
    background-color: #0073ae!important;
    border-color: #0073ae!important;
    color: #fff;
    padding: 5px 30px 5px 30px;
}

.difference-book-btn:hover{
    background-color: #fff !important;
    border-color: #0073ae!important;
    color: #0073ae;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .cont-col{
        width: 100%;
    }

    .address.cont-col {
        margin-left: 0px;
        margin-top: 20px;
    }

    .contact.cont-col{
        border-right: none;
    }

    .address.cont-col{
        border-right: none;
    }

    .opening-hours.cont-col{
        margin-top: 20px;
        margin-left: 0px;
    }

    .slides-cont{
        width: 80%;
    }

    .slide-cont{
        height: 370px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .slide-more-button{
        margin-left: -10px;
    }

    .pe-difference{
        background-image: none;
    }

    .cb-service{
        width: 100%;
    }

    .specialist-photo img{
        width:100% !important;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .cont-col{
        width: 100%;
    }

    .address.cont-col {
        margin-left: 0px;
        margin-top: 20px;
    }

    .contact.cont-col{
        border-right: none;
    }

    .address.cont-col{
        border-right: none;
    }

    .opening-hours.cont-col{
        margin-top: 20px;
        margin-left: 0px;
    }

    .slides-cont{
        width: 80%;
    }

    .slide-cont{
        height: 350px;
    }

    .pe-difference{
        background-image: none;
    }

    .cb-service{
        width: 100%;
    }

    .specialist-photo img{
        width:275px !important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .cont-col{
        width: 280px;
    }

    .address.cont-col{
        margin-left: 30px;
    }

    .opening-hours.cont-col{
        margin-left: 30px;
    }

    .location-thumbnail{
        width: 220px;
        height: 220px;
    }

    .cont-col{
        width: 100%;
    }

    .address.cont-col {
        margin-left: 0px;
        margin-top: 20px;
    }

    .contact.cont-col{
        border-right: none;
    }

    .address.cont-col{
        border-right: none;
    }

    .opening-hours.cont-col{
        margin-top: 20px;
        margin-left: 0px;
    }

    .slides-cont{
        width: 600px;
    }

    .our-services .slide-cont{
        height: 300px;
    }

    .pe-difference{
        background-image: none;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .cont-col{
        width: 280px;
        font-size: 13px;
    }

    .address.cont-col{
        margin-left: 30px;
    }

    .opening-hours.cont-col{
        margin-left: 30px;
    }

    .slides-cont{
        width: 800px;
    }
    .slide-cont{
        height: 320px;
    }

    .our-specialists .slide-cont{
        height: 380px;
    }

    .pe-difference{
        background-position: bottom 0px right -400px
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1549.98px) {
    .pe-difference{
        background-position: bottom 0px right -300px
    }
}