/* CSS Document */
/* Modal */
#modalInfoPack {background-color: rgba(0, 0, 0, 0.7)}
#modalInfoPack .container {max-width:100%;}
#modalInfoPack .modal-dialog {max-width:60%;}
#modalInfoPack .modal-header {background-color: #fff;}
#modalInfoPack .modal-content {background-color: transparent !important; border:none!important; position: absolute;}
#modalInfoPack .modal-body {background:#fff;}
#modalInfoPack .modal-header-content-header1 {font-size: 42px; font-weight: 600!important; text-transform: inherit!important; padding-top: 30px; width: 100%;}
#modalInfoPack .modal-header-content-header2 {font-size: 26px; font-weight: 600!important; text-transform: inherit!important; padding-top: 10px;}
#modalInfoPack .modal-header-content-p {font-size: 14px; font-weight: 600; line-height: 150%; text-transform: inherit!important; color:#515151; padding-top:10px;}
#modalInfoPack .modal-header-content-header-padding {padding-left:0;}
#modalInfoPack .modal-header-content-header {background:#fff!important; text-transform: inherit!important;}
#modalInfoPack .modal-body {padding: 0 25px; /*height: 100%;*/}
#modalInfoPack iframe {width:100%!important; height: unset}
#modalInfoPack .col-lg-8 {/*overflow: hidden;*/     background: #fff;}
#modalInfoPack .modal-content-img-inner-img {position: relative; height:110%;}

#modalInfoPack .modal-content-inner {width:100%; display: flex; flex-direction: column;}
#modalInfoPack .modal-content-img {width:100%; height:100%; float:left; }
#modalInfoPack .modal-content-img img {width:100%; position: relative; z-index: 2; height: 110%;}
#modalInfoPack .modal-content-img-inner {height:100%; width:100%; position: absolute; z-index: 1; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); background-color: rgba(0, 0, 0, 0);
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#modalInfoPack .modal-content-txt {width:100%; background: #fff; position: relative; height: 100%;}

#modalInfoPack .modal-btn {position: absolute; top: -25px; right: -15px; z-index: 3 }
#modalInfoPack .guide-popup-img {visibility: visible; display: block; height:auto;}
#modalInfoPack .guide-popup-img-resp {visibility: hidden; display: none; height:0;}

.div-overlay {position: relative; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); background-color: rgba(0, 0, 0, 0); height:100%;}
.div-overlay-top {position: relative; z-index:2; top:-30px;}
.div-overlay-top img {width:100%;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 991px) {		
	#modalInfoPack .modal-dialog {max-width:80%;}
	#modalInfoPack .div-overlay-top {text-align: center; display: flex; justify-content: center;}
	#modalInfoPack .div-overlay-top img {max-height: 300px; width:auto;}
	#modalInfoPack .col-lg-8 {overflow: visible;}
	#modalInfoPack .modal-btn {top: -325px;}
	#modalInfoPack .guide-popup-img {visibility: hidden; display: none; height:0;}
    #modalInfoPack .guide-popup-img-resp {visibility: visible; display: block; height:auto;}
	#modalInfoPack .div-overlay-top {top:0;}
}

@media screen and (max-width: 480px) {		
	#modalInfoPack {padding-right:0!important;}
	#modalInfoPack .modal-dialog {max-width:100%!important;}
	#modalInfoPack .div-overlay-top {top:0px;}
	#modalInfoPack .modal-header-content-header1 {padding-top:0!important; font-size:30px; text-align: center;}
	#modalInfoPack .modal-header-content-header2 {font-size:16px; text-align: center;}
	#modalInfoPack .div-overlay-top img { max-height: 200px!important;}
	#modalInfoPack .modal-header-content-p {display: none!important; visibility: hidden!important; height: 0!important;}	
	#modalInfoPack .modal-btn {top: -204px!important; right: -15px!important;}		
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1500px) {		
	#modalInfoPack .modal-dialog {max-width:95%;}
	#modalInfoPack .modal-header-content-header1 {padding-top:0;}
	#modalInfoPack .modal-header-content-header2 {/*font-size:16px;*/}
	#modalInfoPack .modal-header-content-p {/*font-size:12px;*/}
}