/**************************
POPUP
**************************/
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1); transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}


.modal-open { padding-right:0!important; overflow: auto!important;}

.modal-bottom-right {left:auto; right:0; top:auto; bottom:20px; padding-right:0!important;}
.modal-bottom-left {left:0; right:auto; top:auto; bottom:20px; padding-right:0!important;}
.modal-top-right {left:auto; right:0; top:200px; bottom:auto; padding-right:0!important;}
.modal-top-left {left:0; right:auto; top:200px; bottom:auto; padding-right:0!important;}

.modal.fade .modal-dialog.modal-dialog-slideout-right {-webkit-transform: translate(100%,0)scale(1); transform: translate(100%,0)scale(1);}
.modal.fade .modal-dialog.modal-dialog-slideout-left {-webkit-transform: translate(-100%,0)scale(1); transform: translate(-100%,0)scale(1);}

#modal-popup {border: 1px solid #dee4ed; height:auto!important; width: auto!important;}

.modal-btn {width:100%; padding: 10px 0px 0px 0}
.modal-body {padding-bottom:10px;}

.popup-content {width:100%;}
.popup-content-left {float:left; width:30%;}
.popup-content-left img {width:100%!important; height:auto!important;}
.popup-content-right {float:left; width:70%; padding-left:20px;}
.popup-content-right h2 {font-size:20px; font-weight: 600; color: #ff6903;}
.popup-content-right p {font-size:14px; font-weight: 600; color: #515151;}

.popup-cta {width:100%; padding: 20px 0; text-align: center; display: inline-block;}
.popup-cta a {
	width: auto;
	background: #ff6903 !important;
	color: #fff !important;
	font-size: 18px !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	padding: 5px 20px;
	display: inline-block;
	text-align: center;
	border: 1px solid #ff6903 !important;
}
.popup-cta a:hover {color:#ff6903!important; background: #fff!important; border: 1px solid #ff6903 !important;}

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {
	#modal-popup {top:40px!important; overflow-x: scroll!important;}		
	.modal-body {padding: 0 10px;}
	.popup-content-left, .popup-content-right {float:none; width:100%; text-align: center; padding-left:0;}
	.popup-content-left img {
		max-height: 150px!important;
		max-width: 100%!important;
		width: auto!important;		
		height: auto!important;
	}
}
