/* CSS Document */
/* Modal */
#modalBookingLasik {background-color: rgba(0, 0, 0, 0.7)}
#modalBookingLasik .container {max-width:100%;}
#modalBookingLasik .modal-dialog {max-width:60%;}
#modalBookingLasik .modal-header {background-color: #fff;}
#modalBookingLasik .modal-content {background-color: transparent !important; border:none!important; position: absolute;}
#modalBookingLasik .modal-body {}
#modalBookingLasik .modal-header-content-header1 {color:#0073ae; font-size: 42px; font-weight: 600!important; text-transform: inherit!important; padding-top: 30px; width: 100%; clear:both;}
#modalBookingLasik .modal-header-content-header2 {color:#0073ae; font-size: 26px; font-weight: 600!important; text-transform: inherit!important; padding-top: 10px; width: 100%;}
#modalBookingLasik .modal-header-content-header3 {color:#0073ae; font-size: 18px; font-weight: 500!important; text-transform: inherit!important; padding-top: 10px;  width: 100%;}
#modalBookingLasik .modal-header-content-p {font-size: 14px; font-weight: 600; line-height: 150%; text-transform: inherit!important; color:#515151; padding-top:10px;}
#modalBookingLasik .modal-header-content-header-padding {padding-left:0;}
#modalBookingLasik .modal-header-content-header {background:#fff!important; text-transform: inherit!important;}
#modalBookingLasik .modal-body {padding: 0; /*height: 100%;*/}
#scheduling-page-clinic .modal-body {}
#scheduling-page-clinic .scheduling-page-header {font-size:20px; text-align: center; margin-bottom: 20px;}
#scheduling-page-clinic .booking-header-part {padding-left:0!important; padding-right:0!important;}
#scheduling-page-clinic .booking-header-part2 {font-size:15px;}
#scheduling-page-clinic .scheduling-page-logo {margin-top:0; margin-bottom:20px; width:auto;}
#scheduling-page-clinic .scheduling-page-footer span {color:#5a5a5a!important; font-size:14px; font-weight: 400; text-transform: uppercase;}
#scheduling-page-clinic .actions {text-align:center;}
#scheduling-page-clinic .scheduling-page-footer input[type="text"], .scheduling-page-footer input[type="email"] {color:#5a5a5a; font-size:14px;}

#modalBookingLasik .modal-btn {position: absolute; top: -25px; right: -15px; z-index: 3 }

#scheduling-page-clinic .scheduling-page-footer, #scheduling-page-parramatta .scheduling-page-footer, #scheduling-page-morisset .scheduling-page-footer {background:#fff; padding:0;}
#scheduling-page-clinic .divNoTimeWrapper,  #scheduling-page-parramatta .divNoTimeWrapper, #scheduling-page-morisset .divNoTimeWrapper{background: #e6e6e6; padding: 10px;}
#scheduling-page-clinic .divNoTimeForm {background: #fff; padding: 10px;}
.divNoTime {color: #284863; font-weight: 600 !important; font-size: 16px !important; text-transform: uppercase; text-align: center; display: block;}
.divNoTime:hover {color:#000;}
#scheduling-page-clinic .hbspt-form {display:none; padding:10px 0;}
#scheduling-page-clinic .hs-main-font-element h1 {display: none; height:0;}
#scheduling-page-clinic .hs-main-font-element p {color:#5a5a5a; font-size:14px; text-align: center;}

.divBookingLocation {width:100%; background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center;}
.divBookingLocation-results {width:100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center;}

.divBookingLocation-txt {font-weight: 600; font-size: 16px; color:#284863; padding:45px 0 0 0; margin: auto; text-transform: uppercase;}
.divBookingLocation-input {width:55%;}
.divBookingLocation-input input {height: 100%; border: none; background: none; font-weight: 600; font-size: 18px; color:#fff; padding-left:20px; border-left:3px solid #fff; }
.divBookingLocation-input input::placeholder {font-weight: 500; font-size: 16px; color:#000; text-transform: uppercase;} 
input:focus {outline: none!important;}

.divPostcode {width:90%; float:left;}

.divBookingLocation-submit { height:100%; background: #fff; width:10%; float:right;}
.divBookingLocation-submit button {background-color: #838383; border: none; color:#fff; font-weight: 600; font-size: 18px; text-transform: uppercase; height: 42px; width: 100%;}
.divBookingLocation-submit button:hover {}
.divBookingLocation-submit button .fa-arrow-right::before {font-size: 25px; position: relative; top: 2px;}

.divBookingLocationResults {color:#5a5a5a;font-size: 16px; /*display: none;*/ width:100%;background: #00bce4;} 
.divBookingLocationResults .container .row .col-lg-4, .divBookingLocationResults .container .row .col-lg-3, .divBookingLocationResults .container .row .col-12 {margin-bottom:10px; padding-right: 10px; padding-left:10px;}
.divBookingLocationResults .container .row .col-lg-4 {margin-top: 20px;}
.col-clinic {margin-bottom:10px;}
.divBookingLocationResults h3 {color: #fff; font-weight: 600!important; font-size: 16px!important; text-transform: uppercase; padding: 10px 0 0 0; text-align: center;}

.divBookingLocationResults .container {}
.divBookingLocationResults div {color:#72a1b2; font-size: 16px; }
.divBookingLocationActive {background:#0073ae!important; }
.divLocationMore { color:#fff; font-weight: 600!important; font-size: 16px!important; text-transform: uppercase; display: block; padding:10px 0; width:100%; background: #00bce4; text-align: center; margin-top: 0px;  border:none!important;}
.divLocationMore:hover {color:#000!important;}

.divBookingLocationResults a:hover >  .divLocation .divLocationName {font-weight: 600!important; }
.divBookingLocationResults a:hover > .divLocation {
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.divLocationName {color: #fff!important; font-weight: 500; padding: 0!important; font-size: 14px!important; margin-top: 0 !important; text-align: center;}
.divLocationAddress {color:#5a5a5a;font-size: 15px; }
.divHide {display: none;}
.divInvisible {visibility: hidden;}

.divBookingLocation-details { display: none; padding-left: 5px; padding-top:10px;}
.divBookingLocation-details i {display: none;}
.divBookingLocation-details .divLocationName {text-align:left; font-size: 16px!important; color: #284863 !important; font-weight: 600;}

.divBookingLocation-acuity { display: none; margin-top:10px;}

.scheduling-page-footer {margin-top:10px;}

.divLocation {background-color: #5fcff8; padding: 10px 5px; height: 100%; color: #72a1b2; font-size: 17px; font-weight: 500;}

.txtPostcode {background: #fff; border:1px solid #e6e6e6; font-weight: 500; font-size: 14px; color:#5a5a5a; padding:10px; text-align: center; text-transform: uppercase;}
.txtOR {text-align: center; color:#5a5a5a; padding:15px 0; font-weight: 500; font-size: 14px;}

.divBookingLocationResultsNone {width:100%;} 
.divBookingLocationResultsNone div {padding-left:0; padding-right:0; width:100%;} 

.iconLoader {display: none; position: relative; top:0; left:40%;}
.loader { 
  font-size: 4px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.divAllClinics {display:none;}

.divBookingLocation-current {width:100%; display: block; clear: both; overflow: auto;}
.divBookingLocation-current .divBookingLocation-txt {width:40%; float:left; font-weight: 600; font-size: 18px; color:#fff; padding:0 15px; margin: auto;}
.divBookingLocation-current .divBookingLocation-input {width:48%; float:left; overflow: hidden;}
.divBookingLocation-current .divBookingLocation-submit {width:12%; float:left;}
.divCurrentLocation {padding:10px; font-size:14px; font-weight: 500; color:#838383; width: 100%; text-align: center; background: #e6e6e6; border:1px solid #e6e6e6; display: block; text-transform: uppercase;}
.divCurrentLocation:hover {color:#0073ae; background: #fff; border:1px solid #0073ae; }

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 991px) {		
	#modalBookingLasik .modal-dialog {max-width:80%;}
	#modalBookingLasik .modal-btn {top: -325px;}
}

@media screen and (max-width: 480px) {		
	#modalBookingLasik {padding-right:0!important;}
	#modalBookingLasik .modal-dialog {max-width:100%!important;}
	#modalBookingLasik .modal-btn {top: -204px!important; right: -15px!important;}		
	.modal-body {padding:0;}

	#scheduling-page-clinic .scheduling-page-logo {margin-bottom:10px;}
	
	.booking-header-part {text-align: center;}
	.divBookingLocationResults, .divBookingLocationResultsNone {text-align: center;}
	.divBookingLocation {display:block;}
	.divBookingLocation-txt, .divBookingLocation-input {width:100%; padding: 10px 0; text-align: center;}
	.divBookingLocation-txt {font-size:16px;}
	.divBookingLocation-input input {border-left: none; text-align: center; padding-left: 0px;}
	.divBookingLocation-submit button {width:100%;}	
	.iconLoader {left:0;}
	.loader {left: 50%;}
	.divBookingLocationResults .col-sm-12 {    padding: 0 0 10px 0;}
	
	.col-clinic {margin-bottom:0;}
	.col-clinic:last-child {margin-bottom:10px;}
	.txtOR {padding:5px 0; font-size:16px;}
	
	#scheduling-page-clinic .scheduling-page-header {font-size:18px; margin:0;}
	#scheduling-page-clinic .booking-header-part2 {font-size:14px}
	#scheduling-page-clinic .divBookingLocation-txt {padding-bottom:0;}	
	.divCurrentLocation {margin-bottom:10px; font-size:16px}	
	.txtPostcode {font-size:16px;}	
	
	#scheduling-page-clinic .scheduling-page-footer {padding:10px 0;}
	#scheduling-page-clinic .hs-main-font-element h1 {font-size:20px;}
	#scheduling-page-clinic .hs-main-font-element p {font-size:15px;}
	#scheduling-page-clinic .scheduling-page-footer input[type="submit"] {font-size:15px;}
	#scheduling-page-clinic .actions {text-align: left;}

	.divBookingLocationResults .container .row .col-lg-4 {margin-top: 0}
	.divBookingLocationResults .container .row .col-lg-4:first-child {margin-top: 20px!important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1500px) {		
	#modalBookingLasik .modal-dialog {max-width:95%;}
	#modalBookingLasik .modal-header-content-header1 {padding-top:0;}
	#modalBookingLasik .modal-header-content-header2 {/*font-size:16px;*/}
	#modalBookingLasik .modal-header-content-p {/*font-size:12px;*/}
}