/* CSS Document */
/* Modal */
#scheduling-page-cataracts .modal-body {}
#scheduling-page-cataracts .scheduling-page-header {font-size:20px; text-align: center; margin-bottom: 20px;}
#scheduling-page-cataracts .booking-header-part {padding-left:0!important; padding-right:0!important;}
#scheduling-page-cataracts .booking-header-part2 {font-size:15px;}
#scheduling-page-cataracts .scheduling-page-logo {margin-top:0; margin-bottom:20px; width:auto;}
#scheduling-page-cataracts .scheduling-page-footer span {color:#5a5a5a!important; font-size:14px; font-weight: 400; text-transform: uppercase;}
#scheduling-page-cataracts .actions {text-align:center;}
#scheduling-page-cataracts .scheduling-page-footer input[type="text"], .scheduling-page-footer input[type="email"] {color:#5a5a5a; font-size:14px;}
#scheduling-page-cataracts .scheduling-page-footer {background:#fff; padding:0;}
#scheduling-page-cataracts .divNoTimeWrapper {background: #e6e6e6; padding: 10px;}
#scheduling-page-cataracts .divNoTimeForm {background: #fff; padding: 10px;}
#scheduling-page-cataracts .hbspt-form {display:none; padding:10px 0;}
#scheduling-page-cataracts .hs-main-font-element h1 {display: none; height:0;}
#scheduling-page-cataracts .hs-main-font-element p {color:#5a5a5a; font-size:14px; text-align: center;}

.divBookingLocation-details-cataracts { display: none; padding-left: 5px; padding-top:10px;}
.divBookingLocation-details-cataracts i {display: none;}
.divBookingLocation-details-cataracts .divLocationName {text-align:left; font-size: 16px!important; color: #284863 !important; font-weight: 600;}

.divBookingLocation-acuity-cataracts { display: none; margin-top:10px;}

.scheduling-page-header-cataracts {color:#6fe400!important;}
.divBookingLocationResults-cataracts h3 {color:#6fe400!important;}
.divBookingLocationResults-cataracts {background:rgba(111,228,0,0.30)!important;}
.divLocation-cataracts {background:#6fe400!important;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 991px) {		
}

@media screen and (max-width: 480px) {			
	#scheduling-page-cataracts .scheduling-page-logo {margin-bottom:10px;}			
	#scheduling-page-cataracts .scheduling-page-header {font-size:18px; margin:0;}
	#scheduling-page-cataracts .booking-header-part2 {font-size:14px}
	#scheduling-page-cataracts .divBookingLocation-txt {padding-bottom:0;}		
	#scheduling-page-cataracts .scheduling-page-footer {padding:10px 0;}
	#scheduling-page-cataracts .hs-main-font-element h1 {font-size:20px;}
	#scheduling-page-cataracts .hs-main-font-element p {font-size:15px;}
	#scheduling-page-cataracts .scheduling-page-footer input[type="submit"] {font-size:15px;}
	#scheduling-page-cataracts .actions {text-align: left;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1500px) {		
}