﻿/*
Custom
*/
.chevron-down {position:absolute; transform: translateY(-25%);}

.suitability-quiz { height: 1px; width: 1px; overflow: hidden;}
.suitability-quiz ul li::before {display:none!important;}

#hsForm_3352a4d4-7a7e-4931-b2af-b43f97d20721 h1{
    color: #fff;
}

#frmSuitabilityQuiz {display:none; padding-top: 20px; }

#frmSuitabilityQuiz ul {padding-left:0;}

#frmSuitabilityQuiz ul li::before { content:''!important; position:inherit!important; margin-top:inherit!important; display:inherit!important;}
.fa, .fas, .far {font-size:30px;}
.fa-walking::before {font-size: 35px; padding-left: 7px;}

input[type=radio], input[type=checkbox] {margin-right: 10px; margin-left: 10px; transform: scale(1.5);}
input[type=textbox], select {background-color: #f5f8fa; border: 1px solid #cbd6e2; height: 40px;line-height: 22px; color: #33475b; border-radius: 3px; width:100%;}

#frmSuitabilityQuiz h2 {margin-top: 0px; padding: 0 0 5px 0; color: #00bce4;}
#frmSuitabilityQuiz h2 span {padding-right: 20px;}

#frmSuitabilityQuiz h3 {position: absolute; top: 0px; left:0; right: 0; color: #fff; background: #dee2e6; padding: 1.5% 5%;
    background: #00bce4;
	background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);
}
#frmSuitabilityQuiz h3 .fa, #frmSuitabilityQuiz h3 .fas, #frmSuitabilityQuiz h3 .far {font-size:20px!important;}
#frmSuitabilityQuiz h3 .fa-walking::before {font-size: 20px!important; padding-left: 0px!important;}
#frmSuitabilityQuiz h3 div {margin-right:20px; color:#fff; visibility: hidden; display:none!important; float:left;}	
#frmSuitabilityQuiz h3 .active {margin-right:20px; color:#fff; visibility: visible!important; width:auto!important; display: block!important;}	

#error {width:100%;}
.error {color:#ff6903; padding-left: 1%; font-weight: 600;}

.form-line {width:100%;}
.form-line .form-group {width:45%!important; float:left!important; margin-left:2.5%!important; margin-bottom: 30px;}

.form-group {color:#474747; font-weight: 500; width:100%; /*overflow: hidden;*/}
.form-group-inputs {overflow: hidden;}
.form-group div {width:50%; float:left;}

.home-doctors {padding: 0;}
.home-doctors h2, .home-doctors p {text-align: left; margin:0;}
.home-doctors-video {width:100%;margin-bottom:30px;}
.home-doctors h3 {font-size:17px!important;}

.notsuitable_firstname {color: #3cb0bc; font-weight: 600;}
.suitable_firstname {color: #3cb0bc; font-weight: 600; font-size: 20px; line-height: 150%; padding: 5px 0 5px 0; margin-top: 30px;}
.quiz-question {color: #00bce4; padding-left:10px;display: inline-block;}
.quiz-answer {padding-left:10px;display: inline-block;}

.divLinks { border-top: 0.5px solid #00bce4; position: relative; top:20px;}

.divSteps {color:#fff; text-align: center; border-radius: 50%; display: inline-block; padding: 5px 14px;position: relative; top:-20px; background: #dddddd;
	/*background: #00bce4;*/
	/*background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%);*/
}
.divLink-end {border-top: none!important;}

.current > a .divLinks .divSteps, .error > a .divLinks .divSteps  {background: #00bce4!important; background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%)!important;}

.questions  {position: relative; float:left; width:65%; min-height: 200px;}
.question-icon {position: relative; float:right; width:35%;}
.question-icon img {position: absolute; right:0;}

.radDiv {position: relative; display: block;}
.radLabel { display: block; position: absolute; top: 0px; left: 35px;}

.results-icon {float:right; padding-left:20px;}

.cta-booking { padding: 0px  0 20px 0;	text-align: center;}
.cta-booking {width:auto; background: #ff6903 !important; color:#fff !important; text-transform: uppercase !important;  text-align: left; border: 1px solid #ff6903 !important; text-decoration: none; font-size: 17px; text-decoration: none!important;display: inline-block; padding: 5px 0; margin-bottom: 12px;}
.cta-booking span {padding: 5px 20px !important;font-size: 17px; color:#fff !important;}
.cta-booking:hover {background: #fff !important; color:#ff6903 !important;}
.cta-booking:hover > span {color:#ff6903 !important;}
/*
    Common 
*/
.steps ul {margin:0!important;}
.steps ul li::before, .actions ul li::before {content: ""!important;}
.steps ul li {padding-left:0!important;}

.iradio_square-grey {margin-bottom:10px;}

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 15%;
    z-index: 999;
}

.wizard > .steps .number
{
    font-size: 1.429em;
	background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%,
    rgba(139,231,252,1) 100%);
    padding: 5% 7%;
	border-radius: 50%;
}

.wizard > .steps > ul > li
{
    width: 15%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    /*background: rgb(255,105,3);
    background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%);*/
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    /*background: rgb(255,105,3);
    background: linear-gradient(90deg, rgba(255,105,3,0.5) 0%, rgba(255,142,6,0.5) 100%, rgba(255,142,6,0.5) 100%);*/
	/*background: rgb(0,188,228);
    background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); */
	
	text-align: left;
	
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    /*background: rgb(255,105,3);
    background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%);*/
    color: #fff;
}

.wizard > .content
{
    /*
    background: rgb(0,188,228);
    background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); 
	*/
	/*border: 1px solid #dee2e6;*/
    margin: 0.5em;
    /*min-height: 35em;*/
    overflow: hidden;
    position: relative;
    width: auto;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0 2.5%;
    width: 80%;
    z-index: 999;
}

.wizard > .content > .body
{
    /*float: left;
    position: absolute;
    width: 95%;
    height: 95%;*/
    /*padding: 2.5% 5%;*/
	padding-top: 20px;
	width:100%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
	padding-left:0!important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    /*display: block;*/
    /*border: 1px solid #ccc;*/
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}


.wizard > .content > .body input.error
{
    /*background: #dd4b39;*/
    border: 1px solid #ff6903;
    color: #ff6903;
	padding-left: 0;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0;
}

.wizard > .content > .body label.error
{
    color: #ff6903;
    display: none /*inline-block*/;
	padding-left:0;
    /*margin-left: 1.5em;*/
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: left;
    width: 85%;
}

.wizard.vertical > .actions
{
    /*display: inline;
    float: right;*/
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:active
{
    background: #ff6903;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #ff6903;
	margin-top:10px;
}

.wizard > .actions a:hover {color: #ff6903; background: #fff;}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
	border: 1px solid #eee;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

.form-control, .custom-select, .input-group-text{
    border-radius: 0;
}

input:focus{
    box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

select:focus {
    box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

textarea:focus {
    box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

.iti__selected-flag {
    height: 35px !important;
}

@media (max-width: 480px) {
    .wizard > .steps > ul > li {
       /* width: 100%*/
    }
	
	#frmSuitabilityQuiz {padding-top:0;}
	.wizard > .content > .body {padding-top:5px;}
	.wizard > .actions > ul > li {margin:0;}
	
	.questions {width:85%; min-height:inherit;}
	.question-icon {display: none; visibility: hidden;height: 0; /*width:15%;*/}
	
	.questions6 {width:100%;}
	.question-icon6 {display: none; visibility: hidden;height: 0;}
	
	.results-icon {width:100%; float: none; padding:10px 0;}
	.results-icon img {max-width: 60%!important;}
	
	.home-doctors {padding: 0!important;width: 100% !important;}
	.home-doctors-video img {width:70%!important;} 
	.home-doctors-video {margin-bottom:0;}
	
	.homeVideoLasik-wrapper {position:relative!important; top:0!important;}
	.video-container-lasik {position:relative!important;}
	.video-container-lasik img {width:100%!important;}
	#div-suitability-quiz {position:relative!important; top:0!important;}
}

@media (max-width: 800px) {
	.form-line .form-group {width:95%!important;}
    .wizard > .steps > ul > li {
        /* width: 50%*/
    }
   
    .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
        margin-top: .5em
    }

	.wizard.vertical > .steps {display:none; visibility: hidden; height: 0;}
    .wizard.vertical > .steps, .wizard.vertical > .actions {
        display: block;
        float: none;
        width: auto;
		margin: 0 .5em .5em;
    }

    .wizard.vertical > .content {
        display: block;
        float: none;
        margin: 0 .5em .5em;
        width: auto
    }
	
	.wizard.vertical > .actions > ul > li {margin:0;}
	
	#frmSuitabilityQuiz h3 div:last-child {margin-right: 0!important;}
	#frmSuitabilityQuiz h3 div {font-size:14px!important; margin-right: 22px!important; visibility: visible!important; width:auto!important; display: block!important;}
	#frmSuitabilityQuiz h3 .active {color:#474747!important;}
	#frmSuitabilityQuiz h3 .fa, #frmSuitabilityQuiz h3 .fas, #frmSuitabilityQuiz h3 .far {font-size:16px!important;}
	#frmSuitabilityQuiz h3 .fa-walking::before {font-size:16px!important;}

    .form-group div {width:100%!important;}
    #frmSuitabilityQuiz h2 {font-size:18px;}

    .form-line .form-group {width: 100%; float: none; margin-left: 0;}

    .home-doctors {padding: 0!important;width: 100% !important;}
}

